<div class="container">
    <h1>{{ loan.id ? 'Modificar préstamo' : 'Crear préstamo' }}</h1>

    <form>
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input matInput [(ngModel)]="loan.id" name="id" disabled>
        </mat-form-field>

        
        <mat-form-field>
        <mat-label>Cliente</mat-label>
        <mat-select [(ngModel)]="loan.clientId" name="clientId" required>
            <mat-option *ngFor="let c of clientes" [value]="c.id">
            {{ c.name }}
            </mat-option>
        </mat-select>
        </mat-form-field>

        
        <mat-form-field>
        <mat-label>Juego</mat-label>
        <mat-select [(ngModel)]="loan.gameId" name="gameId" required>
            <mat-option *ngFor="let g of games" [value]="g.id">
            {{ g.title }}
            </mat-option>
        </mat-select>
        </mat-form-field>


        
        <mat-form-field>
        <mat-label>Fecha inicio</mat-label>
        <input matInput
                [matDatepicker]="startPicker"
                [(ngModel)]="loan.startDate"
                name="startDate"
                required>
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>

        
        <mat-form-field>
        <mat-label>Fecha fin</mat-label>
        <input matInput
                [matDatepicker]="endPicker"
                [(ngModel)]="loan.endDate"
                name="endDate"
                required>
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>

    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>