<div class="container">
    <h1>Gestión de Préstamos</h1>

    <!-- ZONA DE FILTROS -->
    <div class="filters">
        <form>
            <mat-form-field>
                <mat-label>Título del juego</mat-label>
                <mat-select [(ngModel)]="filterGameId" name="game" disableRipple>
                    <mat-option [value]="null">-- Todos --</mat-option>
                    @for (game of games(); track game.id) {
                        <mat-option [value]="game.id">{{ game.title }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Cliente</mat-label>
                <mat-select [(ngModel)]="filterClientId" name="client" disableRipple>
                    <mat-option [value]="null">-- Todos --</mat-option>
                    @for (client of clients(); track client.id) {
                        <mat-option [value]="client.id">{{ client.name }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="filterDate" name="date" placeholder="dd/mm/yyyy">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </form>

        <div class="buttons">
            <button mat-flat-button color="primary" (click)="onCleanFilter()">Limpiar</button>
            <button mat-flat-button color="primary" (click)="onSearch()">Filtrar</button>
        </div>
    </div>

    <!-- ZONA DE LISTADO -->
    <mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>Identificador</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="game">
            <mat-header-cell *matHeaderCellDef>Nombre del juego</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.game?.title }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="client">
            <mat-header-cell *matHeaderCellDef>Nombre del cliente</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.client?.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="startDate">
            <mat-header-cell *matHeaderCellDef>Fecha de préstamo</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.startDate }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="endDate">
            <mat-header-cell *matHeaderCellDef>Fecha de devolución</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.endDate }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="editPrestamo(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="accent" (click)="deletePrestamo(element)">
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator
        (page)="loadPage($event)"
        [pageSizeOptions]="[5, 10, 20]"
        [pageIndex]="pageNumber"
        [pageSize]="pageSize"
        [length]="totalElements"
        showFirstLastButtons>
    </mat-paginator>

    <div class="buttons">
        <button mat-flat-button color="primary" (click)="createPrestamo()">Nuevo préstamo</button>
    </div>
</div>